# Sam Jeffery

# Date Started: 1/21/2025

# Healthcare Data Analysis and Visualization Pipeline



Objective

This dataset contains 1338 rows of insured data, where the Insurance charges are given against the following attributes of the insured: Age, Sex, BMI, Number of Children, Smoker and Region. The attributes are a mix of numeric and categorical variables. There are no missing or undefined values in the dataset. 

https://www.kaggle.com/datasets/teertha/ushealthinsurancedataset

My last project was only using Python. This time I will use:
Python to load data
MySQL to perform queries
Tableau for visualizations.


Deliverables:

    Python scripts for data cleaning and preprocessing.
    SQL database with healthcare data and optimized schema.
    SQL queries showcasing insightful analyses.
    Tableau dashboard visualizing healthcare data insights.

In [3]:
# Basic Imports. Now I need to find a dataset.

import numpy as np
import pandas as pd
import json
import datetime

df = pd.read_csv(r"insurance.csv")

df.shape

(1338, 7)

In [5]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [17]:
df.info()

df.notna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   category
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   category
 5   region    1338 non-null   category
 6   charges   1338 non-null   float64
dtypes: category(3), float64(2), int64(2)
memory usage: 46.3 KB

age         1338
sex         1338
bmi         1338
children    1338
smoker      1338
region      1338
charges     1338
dtype: int64

Now, since I did a quick view of the data, and we know from the data dictionary that there are no null rows or columns, so nothing really needs to be cleaned.

I will still be using Python, but I will be connecting to a SQL Database and running all of my queries from VSCode to make it easier to look at!

In [16]:
import mysql.connector
# login files config kept seperately
import login_files as lf

mydb = mysql.connector.connect(
    host = lf.host,
    user = 'root',
    password = lf.password
)

mycursor = mydb.cursor()

# db creation
mycursor.execute("CREATE DATABASE claims")

DatabaseError: 1007 (HY000): Can't create database 'claims'; database exists